:root {
  --btn-padding: 0.6rem 2rem;
  --btn-border-radius: 2rem;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: none;

}

.btn-primary{
  background: var(--color-primary);
  color: var(--color-white);

}

.btn-cancel {
  background: var(--color-primary);
  color: var(--color-white);

}

.btn:hover {
  /* opacity: 0.8; */
  border-color: var(--color-black);
  background: var(--color-white);
  color: var(--color-primary);

}